*{
          margin: 0%;
          padding: 0%;
}
/* .container{
       position: fixed;
} */
.f-nav{
          display: flex;
          justify-content: center;
          justify-content: space-around;
          background-color: rgb(248, 135, 208);
          padding: 9px;
          
}
.feature{
          display: flex;
}
.feature .app{
          display: flex;
          margin-inline: 16px;
}
.feature .app i{
          margin-inline: 6px;
}

.sec-nav{
          display: flex;
          justify-content: center;
          justify-content: space-around;
          padding: 11px;
          margin-right: 22px;
          /* width: 12%; */
          border-block-end: 1px solid rgb(217, 216, 216);
          
}

.sec-nav .nykaa-bar ul li img{
          width: 8%;
          margin-left: 30px;
          list-style: none;
}

.sec-nav .nykaa-bar ul li a{
          margin-inline: 22px;       
}

a:hover{
       color: #fc2779;
}
.sec-nav .inputs{
          display: flex;
          
}
.sec-nav .inputs button{
          margin-inline: 20px;
}
.sec-nav .inputs input{
          width: 220px;
          background-color: rgb(225, 217, 217);
          border: none;
          outline: none;
          text-align: center;
          font-size: 15px;
          border-radius: 5px;
}
.sec-nav .inputs button{
          width: 80px;
          height: 35px;
          background-color:rgb(204, 54, 104);
          color: white;
          font-size: 17px;
          border: none;
          border-radius: 5px;
}
.items{
          display: flex;
          justify-content: center;
          justify-content: space-around;
          padding: 12px;

}
.items ul li a{
          margin-inline: 22px;
          text-align: center;
}
.items ul li button{
          width: 100px;
          height: 34px;
          background-color:rgb(204, 54, 104);
          color: white;
          font-size: 17px;
          border: none;
          border-radius: 5px;

}
.items ul li{
          list-style: none;
}

.product{
          max-width: 1480px;
          margin-left: 20px;
          margin-right: 25px;
          position: relative;
}

.product i{
          top: 50%;
          height: 50px;
          width: 50px;
          cursor: pointer;
          position: absolute;
          font-size: 1.2rems;
          text-align: center;
          line-height: 50px;
          background-color: beige;
          border-radius: 50%;
          transform: translateY(-50%);
}

.product i:first-child{
          left: -15px;
          display: none;
}

.product i:last-child{
          right: -25px;
}

.product .imgs{
          font-size: 0px;
          cursor: pointer;
          overflow: hidden;
          white-space: nowrap;
          scroll-behavior: smooth;

}
.imgs.dragging{
          cursor: grab;
          scroll-behavior: auto;
}
.imgs.dragging img{
          pointer-events: none;
}
.imgs img{
          height: 530px;
          border-radius: 2%;
          object-fit: cover;
          margin-left: 14px;
          width: calc(100% / 3);

}

@media screen and (max-width: 1000px) {
          .imgs img{
                    width: calc(100% / 2);
          }
}

@media screen and (max-width: 600px) {
          .imgs img{
                    width: 100%;
          }
}

.space{
          background-color: #fff;
          height: 40px;
}
.section{
          background-color: rgb(238, 234, 234);
          height: 450px;
          padding-top: 20px;
}

 .section .heading{
          margin-left: 30px;
          font-size: large;
 }

 .section .top-brands-imgs{
          display: flex;
 }

 .top-brands-imgs img{
          height: 350px;
          border-radius: 2%;
          object-fit: cover;
          margin-left: 14px;
          margin-right: 14px;
          margin-top: 20px;
          width: calc(100% / 3);
 }

 .offer-img img{
          padding: 10px;
          /* margin-left: 30px; */
          width: 95%;
  }

 .imgs-logo{
          margin-left: 20px;
 }
 .imgs-logo img{
          margin-left: 10px;
 } 
 .space{
          background-color: #fff;
          height: 40px;
 }         

 .sec-section{
          background-color: rgb(238, 234, 234);
          padding-top: 20px;
          height: 580px;

 }
 .sec-section .heading{
          margin-left: 30px;
          font-size: large;

 }

 .sec-section .focus-on-img {
          display: flex;
 }
 .sec-section .focus-on-img img{
          border-radius: 2%;
          object-fit: cover;
          margin-inline: 10px;
          margin-left: 14px;
          margin-right: 14px;
          margin-top: 20px;
          width: calc(100% / 3);
 }

 .Luxe img{
          padding: 10px;
          width: 98%;
 }

 
 .logo img{
        margin-left: 15px;
        height: 90px;
        
 }

 .luxury {
        margin-left: 30px;
        margin-right: 30px;
        
 }
 .luxury img{
        width: 100%;
        height: 600px;
        border-radius: 2%;
 }

  .view img{
        width: 100%;
 }

 .radar-header{
        font-size: large;
        padding: 5px;
        height: 70px;
        border-block-end: 1px solid rgb(217, 216, 216);
        margin-left: 20px;
 }

 .radar-imgs{
        width: 100%; 
        /* margin-left: 20px; */
        display: flex;
        /* width: calc(100% / 4); */
 }
 .radar-imgs img{
        margin-left: 40px;
        margin-top: 20px;
        margin-inline: 10px;
        border-radius: 4%;
        width: calc(100% / 5);
 }

 .Sale{
        margin-left: 60px;
        margin-right: 60px;
        border-radius: 5px;
 }
 .Sale img{
        padding-top: 20px;
        width: 100%;      
 }

 .Third-section{
        padding: 30px;
        

 }
 .Third-section .heading{
        font-size: large;
        height: 70px;
        border-block-end: 1px solid rgb(204, 201, 201);
 }

 .Sell-imgs{
        display: flex;
 }   
 .Sell-imgs img{
        margin-top: 20px;
        margin-inline: 10px;
        border-radius: 8px;
        height: 450px;
 } 
 
 
 .last{
        padding-top: 50px;
        margin-top: 20px;
        width: 100%;
        height: 80px;
        font-weight: 300;
        outline: rgb(252, 174, 222) solid 1px;
        text-align: center;
        background-color:rgb(255, 223, 228);
        border-radius: 8px;
 }
 .last p{
        text-align: center;
        font-size: 130%;
        color: rgb(94, 94, 94); 
        
 }

.Store{
       height: 60px;
       margin-top: 20px
}

.f-Footer{
       display: flex;
       background-color: rgb(58, 64, 71);
       height: 140px;
       justify-content: center;
       justify-content: space-around;
       padding-top: 30px;
}
 .f-Footer .app{
       color: #fff;
 }
 .btn{
       display: flex;
       justify-content: space-around;
}



.s-footer .list{ 
       width: 100%;
       display: flex;
       justify-content: center;
       height: 300px;
       font-family:'Times New Roman', Times, serif;
       line-height: 200%;
       background-color: rgb(140, 141, 148);
       color: rgb(255, 255, 255);
       padding: 0px 0px 120px 0px;
       
}
.s-footer .list ul li {
       list-style: none;
       margin-top: 30px;
       margin-inline: 60px;
       
}
.s-footer .list ul li a{
       font-weight: 400;
       font-size: 14px;   
}

.looks{
       display: flex;
       height: 100px;
       padding: 50px;
       justify-content: center;
       justify-content: space-evenly;
       background-color: gainsboro;

}
.looks i{
       background-color: #fc2779;
       border-radius: 50%;
       height: 40px;
       width: 40px;
       font-size: 3 rems;
       text-align: center;
       line-height: 40px;
}


 .last-foot{
       height: 80px;
       background-color: #fc2779;
       justify-content: center;
       display: grid;  
      
 }

 .contant pre{
       margin-top: 16px;
       font-size: large;
       color: #fff;
 }

 .last-foot p{
       color: #fff;
       margin-left: 140px;
 }

 .main-foot{
       height: 200px;
       background-color: gainsboro;
       text-align: center;
 }
 .main-foot h2{
     padding-top: 5%;
     font-style: italic;
 }